.login-img{
  margin: 0px;
  background: url(../img/login-img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu-login{
  display: flex;
  justify-content: center;
}
.span6 .bar-menu-login{
  border-radius: 5px;
  text-decoration: none;
  color: black;
  margin-top: 20px;
  margin-left: 18px;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 10px;
  background-color: white;
}

.span6 .bar-menu-login:hover{
  cursor: pointer;
  background-color: rgb(77, 148, 205);
  color: white;
}

.form-login{
  background-color: white;
  margin: 150px 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px;
}

.content-form{
  padding: 40px 10px 30px 10px;
  text-align: center;
}

.title-login{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  margin-bottom: 15px;
}

.logo-login{
  margin-bottom: 20px;
}

.button-signup{
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid;
  text-decoration: none;
}

.button-signup:hover{
  cursor: pointer;
  background-color: rgb(77, 148, 205);
  color: white;
  text-decoration: none;
}
